@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Inter:wght@400;500;600;700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:wght@400;600;700&family=Raleway:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  transition: background-color 0.6s ease, color 1s ease;
  scroll-margin-top: 2.5rem;
}
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #000;
  --secondary-color: #7360ff;
  --text-color: #25282b;
  --title-color: #333333;
  --border-color: black;
  --background-color: #e5e5e5;
}
/* #7360ff */
/* #9a9bef */
.dark-mode {
  --primary-color: #fff;
  --secondary-color: #7360ff;
  --text-color: #fff;
  --title-color: var(--primary-color);
  --border-color: #fff;
  --background-color: #15202b;
}
body {
  background: var(--background-color);
  overflow-x: hidden;
  max-width: 1440px;
  animation-name: rotateInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
/* dark-mode settings */
.modeToggle {
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
}
.material-icons {
  color: var(--text-color);
}
#sun-icon {
  display: none;
  color: var(--background-color);
}
#moon-icon {
  color: var(--background-color);
}

/* dark-mode settings ends here */
header {
  padding: 1rem 4rem 0rem;
  height: 100vh;
}
.brand-nav {
  display: flex;
  justify-content: space-between;
}
.brand-nav.sticky {
  position: fixed;
  top: 0%;
  left: 0%;
  /* right: 0; */
  z-index: 1000;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  width: 100%;
  /* margin: 0rem 0rem 10rem 0rem; */
}
.h2-brandname {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: var(--text-color);
}
ul {
  display: flex;
  z-index: 15;
}
#menu {
  display: none;
  width: 07%;
  position: absolute;
  right: 05px;
  top: 15px;
}
.close-nav {
  align-self: center;
  justify-self: center;
  display: none;
}
li {
  list-style-type: none;
  margin: 0rem 2rem;
}
li a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}
li a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

/* Animation for hero texts */
@keyframes example {
  0% {
    left: -200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example2 {
  0% {
    right: -200px;
    top: 0px;
  }
  50% {
    right: -100px;
    top: 0px;
  }
  75% {
    right: -50px;
    top: 0px;
  }
  85% {
    right: -25px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-self: flex-end;
}
.hero-text {
  width: 50%;
}
.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-top: 2.5rem;
  position: relative;
  animation-name: example;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
}
.intro {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--primary-color);
  position: relative;
  animation-name: example;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  margin-top: 2.5rem;
}
.autotype {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
  width: 80%;
  text-align: left;
  position: relative;
  animation-name: example2;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in step-end;
}
.hero-image {
  width: 50%;
  position: absolute;
  right: 0rem;
  top: 0rem;
  z-index: -2;
  text-align: center;
  background-size: cover;
  background-image: url("../Assets/yellow-bg5.png");

  /* background-repeat: no-repeat no-repeat;
    background-position: right;
    */
}

.hero-image img {
  width: 50%;
  margin-top: 3.5rem;
}
.hero-image img:hover {
  transform: scale(1.5);
}
.links {
  margin: 2rem auto;
}
.btn {
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  text-decoration: none;
}
.btn1 {
  background-color: var(--secondary-color);
  border: var(--border-color);
}
.btn:hover {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
}
/* width for hero text */
.txt {
  width: 70%;
  text-align: left;
}
.seeMore {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* animation for cards */
@keyframes rotateInLeft {
  from {
    transform-origin: 0% 0%;
    transform: rotateY(180deg);
  }
  to {
    transform-origin: 0% 0%;
    transform: rotateY(0deg);
  }
}
.about-section {
  margin-top: 5rem;
  padding: 1rem 4rem;
  /* display: none;
  position: absolute;
  top: 15%;
  background-color: var(--background-color);
  z-index: 9; */
  animation-name: rotateInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
/* .aboutHeroPic {
  display: flex;
} */
.about-txt {
  /* width: 60%; */
  text-align: center;
}
.about-txt h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: var(--title-color);
}
.about-txt p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--primary-color);
  margin-bottom: 1rem;
  /* width: 75%; */
}
/* .about-image {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 35%;
  padding: 2.5rem;
} */
/* .about-image img {
  width: 90%;
  height: 200px;
} */
.notice {
  text-align: center;
  color: rgb(244, 75, 75);
  font-size: 1rem;
  margin: 1rem;
}
.proj-section {
  margin-top: 5rem;
  padding: 0rem 5rem;
  /* display: none;
  position: absolute;
  top: 15%;
  z-index: 7; */
  animation-name: rotateInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  background-color: var(--background-color);
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: var(--text-color);
  margin-top: 1rem;
}
.projects h2 {
  border-bottom: 0.4rem solid var(--secondary-color);
  padding-bottom: 1rem;
}
.project-card {
  display: flex;
  place-content: stretch;
  place-items: stretch;
  border-radius: 0.8rem;
  padding: 0rem;
  margin: 2rem 0rem;
  position: relative;
  /* transform: translateY(150px); */
  opacity: 0;
  /* transition: 2s all ease; */
  background-color: var(--background-color);
}
/* project card scroll animation */
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.project-card.active {
  transform: translateY(0);
  opacity: 1;
}
.project-card.active.fade-right {
  animation: fade-right 1s ease-in;
}
.project-card.active.fade-left {
  animation: fade-left 1s ease-in;
}

.proj-details {
  width: 50%;
  background: var(--background-color);
  padding: 1rem 2rem;
  margin: 0rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid var(--border-color);
}
.proj-details h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: var(--text-color);
  padding: 2rem 0rem;
}
.proj-details p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2rem;
  color: var(--primary-color);
  padding: 2rem 0rem;
  width: 75%;
}
.proj-details i {
  color: var(--text-color);
  border: 0.1rem solid var(--text-color);
  padding: 0.6rem;
  border-radius: 1.2rem;
  margin: 0rem 0.5rem;
}
.proj-details i:hover {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
}
.proj-details a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  text-decoration: none;
  /* border: 0.1rem solid var(--text-color); */

  margin: 0rem 1.5rem 0rem 0rem;
}

.proj-image {
  width: 50%;
  border-top-right-radius: 1rem;
  /* border-bottom-right-radius: 1rem; */
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}
.proj-image img {
  width: 100%;
}
.proj-image img:hover {
  transform: scale(1.1);
}
.getInTouch {
  /* display: none;
  position: absolute;
  top: 15%;
  z-index: 7; */
  background-color: var(--background-color);
  width: 100%;
  animation-name: rotateInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 72px;
  text-align: center;
  color: var(--text-color);
}
.message h2 {
  border-bottom: 0.4rem solid var(--secondary-color);
  padding-bottom: 0.2rem;
}
.message-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
form {
  margin: 2rem auto;
}
form div label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}
form div input,
textarea {
  background: #ffffff;
  border: 1px solid #e8ecf4;
  border-radius: 8px;
  padding: 0.7rem 5rem;
}
.message-send {
  background: var(--secondary-color);
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1.5rem;
  float: right;
  margin: 1rem;
  cursor: pointer;
}
.message-form div {
  margin-top: 2rem;
}
.social-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  flex-wrap: nowrap;
}
.social-brand p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--text-color);
}
.socials a {
  text-decoration: none;
}
.social-icons {
  margin: 0.6rem;
  color: var(--text-color);
}

footer {
  width: 100%;
  background-image: url("../Assets/footerimg5.png");
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  /* position: fixed;
  bottom: 0;
  left: 0; */
}

@media (max-width: 1024px) {
  .hero-text {
    width: 65%;
  }
  .hero-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 1rem;
  }
  .hero-text h1 {
    font-size: 36px;
  }
  .autotype {
    font-size: 35px;
  }
  .description {
    font-size: 16px;
  }
  .links {
    margin: 1rem auto;
  }
  .about-txt h2 {
    font-size: 36px;
    /* width: 85%; */
  }
  .about-txt p {
    font-size: 16px;
  }
  .about-image {
    width: 40%;
    padding: 2rem;
  }
  .proj-section {
    padding: 0rem 2rem;
  }
  .project-card {
    margin: 0.5rem 0rem 0rem;
  }
  .projects h2 {
    font-size: 40px;
    padding-bottom: 0rem;
  }
  .proj-details {
    padding: 1rem;
  }
  .proj-details h3 {
    font-size: 30px;
    padding: 1rem;
  }
  .proj-details a {
    font-size: 14px;
    padding: 0.3rem;
    margin: auto 0.3rem auto 0rem;
  }
  .proj-details p {
    width: 100%;
  }
  .message h2 {
    font-size: 40px;
    padding-bottom: 0rem;
  }
}
@media (max-width: 600px) {
  ul {
    display: none;
    background-color: var(--background-color);
    position: relative;
    /* margin-top: 3rem; */
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 2rem;
    /* z-index: 5; */
    width: 100%;
    animation-name: rotateInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
  }
  ul li {
    margin: 2rem auto;
  }
  ul li a {
    text-align: center;
    font-size: 2rem;
    margin: 4rem auto;
  }
  li a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
  }
  #menu {
    display: block;
    /* z-index: 100; */
  }
  .close-nav {
    display: block;
    text-align: center;
    font-size: 2rem;
    border: 1px solid red;
    color: var(--text-color);
  }

  .hero-text {
    width: 50%;
    justify-self: center;
    align-self: center;
  }
  .title {
    margin-top: 0.5rem;
    font-size: 18px;
  }
  .hero-text h1 {
    font-size: 22px;
    width: 100%;
  }
  .autotype {
    font-size: 25px;
  }
  .description {
    line-height: 25px;
    font-size: 14px;
    width: 100%;
  }
  .btn {
    font-size: 14px;
  }
  .projects {
    margin: 0rem;
  }
  .projects h2 {
    font-size: 28px;
    padding: 0rem;
  }
  .proj-section {
    padding: 1rem;
  }
  .project-card {
    margin: 1rem auto;
    flex-direction: column-reverse;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
  }
  .proj-details,
  .proj-image {
    width: 100%;
    border: none;
    padding: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
  .proj-details h3 {
    font-size: 24px;
  }

  .proj-details p {
    padding: 0rem auto 1rem;
  }
  .proj-details a {
    font-size: 12px;
    padding: 0.3rem;
    margin: auto 0.3rem auto 0rem;
  }
  .message h2 {
    font-size: 28px;
    padding: 0rem;
  }
  .about-section {
    padding: 1rem 1rem;
  }
  .aboutHeroPic {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .about-txt {
    width: 100%;
    text-align: center;
  }
  .about-txt h2 {
    margin-top: 2rem;
  }
  .about-txt p {
    width: 100%;
  }
  .about-image {
    display: none;
  }
  .notice {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 545px) {
  .hero-image {
    display: none;
  }
  .hero-text {
    width: 100%;
  }
  .description {
    margin-top: 1rem;
    font-size: 22px;
    line-height: 30px;
  }
  .autotype {
    margin-top: 1rem;
  }
}
@media (max-width: 425px) {
  header {
    padding: 0.5rem auto;
  }
  ul {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 2rem;
    /* z-index: 5; */
  }
  .autotype {
    font-size: 20px;
  }
  .title {
    margin-top: 1rem;
  }
  .description {
    margin-top: 1rem;
    font-size: 18px;
  }
  .project-card {
    flex-direction: column-reverse;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 0.1rem;
  }
  .proj-details,
  .proj-image {
    width: 100%;
    border: none;
    padding: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
  .proj-details h3 {
    margin-bottom: 0rem;
  }
  .proj-details p {
    margin: 0rem;
    padding: 0.1rem auto;
  }
  .proj-details a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin: 0rem 1rem 0rem 0rem;
  }
  .message-form {
    width: 100%;
    padding: 0rem 2rem;
    overflow: hidden;
  }
  .message-form form {
    padding: 1rem;
  }

  /* .message-form form input{
        width: 100%;
    } */
}
